body
{
    font-family: Arial;    
    margin: 10px;
    
}

a {margin-right: 30px;}

h1{
    color: brown;
    padding: 10px;
    border: {
                color: red;
                style: solid;
                width: 1px;
            }
   }

.bg_header_img {
    background: url('../images/webpack_logo.png') -131px 1px no-repeat;
    margin-right: 15px;
    height: 150px;
    width: 150px;
}